

body {
    background-size: cover;
	background-color: #F2F3F5;
    text-align: center;
    font-family: 'Helvetica', Geneva, Verdana, sans-serif;
}

.direct {
	padding-top: 60px;
    text-align: center;
    margin: 0;
}

h1 {
	color: #555;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 20px
}

.inputSheet {
	position: relative;
    max-width: 90%;
    margin: 0px auto;
	margin-bottom: 30px;
	padding: 10px;
}

button {
    width: 150px;
    background-color: #AAC9FF;
    color: black;
    border: 3px solid #AAC9FF;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #77A7FF;
	border: 3px solid #77A7FF;
	border-radius: 5px;
    color: white;
}

input[type=text] {
    width: 13%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 5px;
	transition-duration: 0.6s;
  }

  input[type=text]:focus {
    width: 70%;
  }
  
  .logo {
	  width:43px;
	  height:43px;
	  position:absolute;
	  top:5px;
	  left:5px;
  }

  .blueBar {
	  height: 50px;
  }

  .selectBG {
    padding: 30px;
	text-align: center;
  }
  
  .inputBox {
	  margin: 5px;
  }
  
  #moreTools {
	  display: none;
	  overflow: hidden;
  }

  #topBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #3578E5;
  }
