/*{
    box-sizing: border-box;
}*/

div{
    box-sizing: border-box;
    width: 100%;
    float: left;
}

div.single_person{
    padding: 0% 5% 1%;
    border: solid 2px black;
}

span{
    box-sizing: border-box;
    width: 50%;
    float: left;
}

button{
    margin-top: 2%; 
}
